@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
    --font-family: 'Open Sans', sans-serif;
    --color: hsl(0, 0%, 100%);
    --font-weight: 700;
    --font-size: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #000;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--color);
    background-color: hsl(0, 2%, 92%);
}

.padre {
    /* background-color: hsl(0, 2%, 92%); */
    margin: 2rem;

    display: flex;
    flex-flow: column nowrap;

}
    .header {
        background-color: hsl(214, 92%, 54%);
        height: 162px;
        margin: 0rem 0rem 2rem;
        padding-left: 3rem;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
        .titulo-header {
            /* background-color: magenta; */
            
            /* display: flex; */
            /* flex-direction: row; */
            /* justify-content: center; */
            /* align-items: center; */
            
        }
    .nav-1 {
        background-color: hsl(214, 100%, 34%);
        padding-left: 3rem;
        height: 64.8px;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
        .titulo-nav-1 {
            /* background-color: magenta; */
            /* height: 100%; */

            /* display: flex; */
            /* flex-direction: row; */
            /* justify-content: center; */
            /* align-items: center; */
        }


    .contenido {
        background-color: transparent;
        /* width: 100%; */
        height: 1296px;
        margin: 2rem 0  ;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
        .nav-2 {
            background-color: hsl(202, 100%, 61%);
            flex: 1 1 39%;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }
            .titulo-nav-2 {
                /* background-color: magenta; */
                margin: 2rem 0  ;
            }
            .div-nav-2 {
                background-color: hsl(182, 96%, 32%);
                width: 80%;
                height: 21%;
                padding: 1.5rem 0  ;
                text-align: center;
            }
        main {
            background-color: hsl(182, 96%, 32%);
            flex: 2 1 100%;
            margin: 0 2rem;

            display: flex;
            flex-flow: column nowrap;
            justify-content: start;
            align-items: center;
            
        }
            .titulo-main {
                /* background-color: magenta; */
                margin: 2rem 0;
                padding-left: 2.5rem;
                align-self: flex-start;
            }
            .secciones {
                background-color: transparent;
                color: hsl(270, 10%, 20%);
                width: 87%;
                height: 87%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

            }
                .section {
                    background-color: hsl(0, 0%, 89%);
                    border: 3px solid red;
                    width: 100%;
                    height: 546px;
                    /* padding: 1rem 0; */
                    display: flex; 
                    flex-direction: column;
                ;

                }
                    .titulo-section{
                        /* background-color: hsl(0, 0%, 89%); */
                        padding-left: 0.5rem;
                        /* background-color: hsl(214, 100%, 34%); */
                        
                        /* display: flex; */
                        border: 3px solid yellow;
                    }
                    .articulo-aside{
                        /* background-color: indianred; */
                        border: 3px solid green;
                        width: 100%;
                        height: 100%;
                        
                        display: flex;
                
                    
                    }



        aside {
            background-color: hsl(0, 0%, 65%);
            flex: 1 1 39%;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }
            .titulo-aside {
                /* background-color: magenta; */
                margin: 2rem 0  ;
            }
            .div-aside {
                background-color: hsl(182, 96%, 32%);
                width: 80%;
                height: 21%;
                padding: 1.5rem 0  ;
                text-align: center;
            }
            


    .footer {
        background-color: hsl(214, 92%, 54%);
        height: 162px;
        padding-left: 3rem;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
        .titulo-footer {
            /* background-color: magenta; */

            /* display: flex; */
            /* flex-direction: row; */
            /* justify-content: center; */
            /* align-items: center; */
        }